.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-top: 80px;
}

.section-title_theme_dark {
    width: 60%;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

.section-subtitle_theme_dark {
    width: 60%;
    margin-top: 20px;
    color: white;
    margin-right: auto;
    margin-left: auto;
}