.footer__column-link {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}