.footer__columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    padding-bottom: 40px;
    padding-top: 60px;
    margin: 0px auto;
}

.footer__column-heading {
    color: white;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.footer__column_content_copyright {
    display: flex;
    position: relative;
    flex-basis: 711px;
    margin: 0px;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.footer__column_content_info {
    margin: 0px;
    flex: 1;
}