@import url(/web_project_1/blocks/video/video__iframe/video__iframe.css);
@import url(/web_project_1/blocks/video/video__iframes/video__iframes.css);
.video {
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}