@import url(/web_project_1/blocks/two-columns/two-columns__brief/two-columns__brief.css);
@import url(/web_project_1/blocks/two-columns/two-columns__main-text/two-columns__main-text.css);
@import url(/web_project_1/blocks/two-columns/two-columns__paragraphs/two-columns__paragraphs.css);
@import url(/web_project_1/blocks/two-columns/two-columns__span-accent/two-columns__span-accent.css);
.two-columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
}