@import url(../two-columns/__brief/two-columns__brief.css);
@import url(../two-columns/__main-text/two-columns__main-text.css);
@import url(../two-columns/__paragraphs/two-columns__paragraphs.css);
@import url(../two-columns/__span-accent/two-columns__span-accent.css);
.two-columns {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
}