@import url(../footer/footer__author/footer__author.css);
@import url(../footer/footer__column-links/footer__column-links.css);
@import url(../footer/footer__columns/footer_columns.css);
@import url(../footer/footer__link/footer_link.css);
@import url(../footer/logo_place_footer/logo_place_footer.css);
@import url(../footer/footer__social-icon/footer__social-icon.css);
.footer {
    display: flex;
    position: relative;
    flex-direction: row;
    background: #1f1f1f;
    min-height: 350px;
}