@import url(../footer/__author/footer__author.css);
@import url(../footer/__column-links/footer_column-links.css);
@import url(../footer/__column-heading/footer__column-heading.css);
@import url(../footer/__column/_content/footer__column_content_copyright.css);
@import url(../footer/__column/_content/footer__column_content_info.css);
@import url(../footer/__social-icon/footer__social-icon.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__columns/footer__columns.css);
.footer {
    display: flex;
    position: relative;
    flex-direction: row;
    background: #1f1f1f;
    min-height: 350px;
}