@import url(../../table/__cell/__theme/table__cell_theme_dark.css);
@import url(../../table/__heading/__theme/section-subtitle_theme_dark.css);
@import url(../../table/__heading/__theme/section-title_theme_dark.css);

.table__heading {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

