.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

div {
  display: block;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: block;
  position: relative;
  /* parameters for the header section */
}

.header__title {
  margin-left: 64px;
  font-size: 102px;
  width: 730px;
  line-height: 96px;
  font-style: bold;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 765px;
    height: 608px;
    z-index: 0;
}

.header__square-pic {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 568px;
  height: 568px;
  background-color: cornflowerblue;
  margin-top: 64px;
  z-index: -1;
}

.header__logo {
  width: 154px;
  height: 31px;
  margin-left: 64px;
  margin-top: 30px;
}

.header__text {
    display: block;
    text-align: left;
    position: absolute;
    margin-left: 64px;
    margin-bottom: 30px;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
}

.header__text::after {
    content: " Learn more→";
    color: cornflowerblue;
}

/*Description Section*/
.container {
  display: flex;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  align-content: center;
  justify-content: space-between;
}

.description__header__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  color: cornflowerblue;
}

.description__paragraph__text {
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.description__paragraph__one {
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.description__paragraph__two {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.description__paragraph__three {
  margin-top: 30px;
  line-height: 34px;
  font-size: 24px;
  font-style: bold;
}

/* Digits block */
.table {
  display: table;
  flex-wrap: wrap;
  list-style: none;
}

.digits-content {
  display: flex;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.digits-title {
  line-height: 1.15;
  font-size: 60px;
  font-style: bold;
  margin-bottom: 20px;
  margin-top: 100px;
  text-align: center;
}

.digits-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  margin-bottom: 60px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-style: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

ul {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.table-cell_row {
  display: inline-flex;
  width: 250px;
  margin: 10px 10px;
}

/*Feynman Block - Attempt but could not align it correctly*/
.feynman__block {
  display: flex;
  height: 790px;
  justify-content: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.feynman__title {
  position: relative;
  text-align: center; 
  width: 775px;
  margin-top: 100px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-style: bold;
  z-index: 1;
}

.feynman__subtitle {
  position: relative;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  z-index: 1;
}

.feynman__link {
  display: block;
  position: inherit;
  text-align: right;
  font-size: 36px;
  font-style: normal;
  text-decoration: none;
  color: black;
  margin-right: 48px;
  top: 50%;
}

.feynman__link::after {
  content:"→"
}

.feynman__img {
  display: flex;
  position: absolute;
  flex: initial;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 0;
}

/* including elements with key-value modifiers Kaufman Attempt but could not align it correctly */
.kaufman__content {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #000;
  padding-bottom: 90px;
  padding-top: 90px;
  padding-left: auto;
  padding-right: auto;
}

.kaufman__headers {
  position: relative;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.title__theme_dark { 
  justify-content: center;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-style: bold;
  width: 60%;
  color: white;
}

.subtitle__theme_dark {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  width: 60%;
  margin-bottom: 80px;
  margin-top: 20px;
  color: white;
}

.table__cell_theme_dark {
  display: inline-flex;
  list-style: none;
  width: 200px;
  color: white;
  margin-top: 80px;
  margin: 50px 50px;
  z-index: 1;
}

.cell__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-style: normal;
  z-index: 1;
}

.cell__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: 0;
}

.table__theme_dark {
  display: table;
  flex-wrap: wrap;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  display: inline-flex;
}

/* Footer - Attempt but could not align it correctly*/
.place__footer__logo {
  height: 35px;
  width: 183px;
}

.footer {
  display: block;
  background: black;
  min-height: 350px;
  padding-bottom: 40px;
  padding: 0 80px;
}

.footer__table {  
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
    
.footer__cell__header {
  color: white;
  line-height: 45px;
  font-size: 18px;
  font-style: bold;
}

.links {
  margin-top: 20px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
}

.cell__footer {
  width: 16px;
}

.content__copypright {
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  color: white;
  align-items: baseline;
  margin-top: 18px;
  margin-bottom: 18px;
}
